.formulario {
    max-width: 400px;
    margin: auto;
  }
  
.grupo {
    margin-bottom: 1rem;
  }
  
label {
   display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  